body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: "Assistant", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
#header {
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
#footer {
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 10px;
}
#footer p {
  text-align: center;
}
p,
li,
a,
label,
input {
  font-size: 20px;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: underline;
}
#myNav {
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
}
#myNav li {
  display: inline;
  font-size: 20px;
}
#myNav li a {
  text-decoration: none;
  color: #803300;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #803300;
}
#myNav li a:hover {
  text-decoration: underline;
  color: white;
  border-color: #803300;
  background-color: #803300;
}
#fixedContact {
  position: fixed;
  width: 150px;
  display: block;
  top: 2px;
  left: 5%;
}
#fixedContact a img:hover {
  opacity: 0.8;
}
#fixedContact img {
  width: 100%;
}
#hero {
  margin-top: 70px;
  text-align: center;
  background-image: url("./imgs/TopBG.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero h1 {
  text-align: center;
  padding: 100px 0;
  color: white;
  font-size: 60px;
  background-color: #80330080;
}
#about {
  text-align: center;
  padding: 30px 30%;
}
#aboutExtended {
  padding-bottom: 200px;
  padding: 30px 30% 300px;
}
a.toPage {
  color: #80330080;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}
a.toPage:hover {
  color: #803300;
  font-weight: bold;
}
#types {
  margin-bottom: 50px;
}
#types .type {
  width: 22.8%;
  margin: 1%;
  display: inline-block;
}
#types .type h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
#types .type img {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
}
#gallery {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
#gallery h2 {
  flex-basis: 100%;
}
#gallery .petImg {
  flex-basis: 31%;
  box-shadow: 0 0 5px 0 #00000080;
  border-radius: 20px;
  margin: 1%;
  height: 300px;
  object-fit: cover;
}
#gallery .toPage {
  flex-basis: 100%;
}
#contact {
  text-align: center;
  padding: 30px 40% 100px;
  background-color: white;
}
#contact p {
  margin: 10px 0;
}
#contact p label {
  width: 98%;
  display: inline-block;
}
#contact p input {
  width: 96.5%;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}
#contact .submitP {
  text-align: left;
}
#contact p input[type="submit"] {
  text-align: center;
  padding: 5px 0;
  width: 100%;
  color: white;
  background-color: #008000;
  box-shadow: inset 0 0 5px 0 #00000080;
  border-radius: 10px;
}
#contact p input[type="submit"]:hover {
  color: black;
  background-color: #00dd00;
  box-shadow: inset 0 0 5px 0 #00000080;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  h2 {
    font-size: 34px;
  }
  #myNav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    align-items: center;
    /* height: 30px; */
    align-content: space-around;
  }
  #myNav li {
    display: flex;
    flex-basis: 50%;
  }
  #myNav li a {
    padding: 10px;
    flex-basis: 100%;
    margin: 5px;
    text-align: center;
  }
  #fixedContact {
    width: 100px;
    display: block;
    top: 100px;
    left: 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #00000080;
  }
  #gallery {
    padding: 20px;
    background-color: #f0f0f0;
  }
  #gallery .petImg {
    flex-basis: 100%;
    width: 100%;
    margin: 10px;
  }
  #about {
    padding: 20px;
  }
  #about p {
    text-align: center;
  }
  #aboutExtended {
    padding: 20px 20px 50px;
  }
  #aboutExtended p {
    text-align: center;
  }
  #types {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #types .type {
    flex-basis: 45%;
    margin: 1%;
    display: inline-block;
  }
  #types .type h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  #types .type img {
    width: 100%;
    display: block;
    height: 150px;
    object-fit: cover;
  }
  #contact {
    padding: 20px 20px 50px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #about {
    padding: 20px;
  }
  #about p {
    text-align: center;
  }
  #aboutExtended {
    padding: 20px 20% 100px;
  }
  #aboutExtended p {
    text-align: center;
  }
  #gallery .petImg {
    flex-basis: 31%;
    max-width: 300px;
  }
  #types {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #types h2 {
    flex-basis: 100%;
  }
  #types .type {
    flex-basis: 45%;
    margin: 1%;
    display: inline-block;
  }
  #types .type h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  #types .type img {
    width: 100%;
    display: block;
    height: 250px;
    object-fit: cover;
  }
  #contact {
    padding: 20px 20% 50px;
  }
  #contact p input {
    width: 97.5%;
  }
}
