* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Assistant", "Times New Roman", Times, serif;
}
header,
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ccc;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
  text-align: center;
  background-color: #eee;
  margin-bottom: 10px;
}
h4 {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
}
#users {
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 20px;
}
#users .user {
  box-shadow: 0 0 5px 0 #00000080;
  flex-basis: 20%;
  padding: 20px;
  margin: 5px;
}
#users .user .userSendMessage {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 5px 0 #00000080;
}
#users .user .userSendMessage label {
  margin: 0 0 5px;
  font-size: 16px;
}
#users .user .userSendMessage textarea {
  margin: 0 0 5px;
  font-size: 16px;
  width: calc(100% - 10px);
  padding: 5px;
}
#users .user .UserMessages p {
  margin: 2px 0;
  font-size: 16px;
}

@media (max-width: 800px) {
  #users {
    flex-direction: column;
  }
}
